<html>
  <head>
    <title> Chern Runner </title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Chern Runner </h1>
    <h2>Runners</h2>
    <!--<button onclick="start_long_task();">Start Long Calculation</button><br><br>-->
    <!--<button id="start-bg-job">Start Long Calculation</button><br><br>-->
    <!--<div id="progress"></div>-->
    <table>
      <tr>
        <td> impression ID </td> <td>status</td> <td>size</td>
      </tr>
      {% for impression in impressions %} 
      <tr>
        <td>{{ impression.id }}</td><td>{{ impression.status }}</td><td>impression.size</td>
      </tr>
      {% endfor %}
    </table>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      

  </body>
</html>
